{{> head }}

{{> navbar}}

<div class="row">
    <div class="col-md-8">
        <h1>Annabelle</h1>
        <p>Ed y Lorraine Warren tratan de encerrar bajo llave a Annabelle, una muñeca poseída. 
            Como demonólogos la colocaran en una vitrina bendecida como medida de seguridad, sin embargo, una noche terrorífica Annabelle despertará a otros espíritus malignos que se encuentran en la habitación y que tendrán una nueva fijación: la hija pequeña del matrimonio y sus amigos.</p>
    </div>
    <div class="col-md-4">
        <img src="assets/img/annabelle.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}